<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729103857773-r7en2cjs8p6st5pghktsmppfh3va9ngo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729103857773-r7en2cjs8p6st5pghktsmppfh3va9ngo</string>
	<key>API_KEY</key>
	<string>AIzaSyAPu_GtDbEZpWblsbAyceWcGqBlfgrpwrA</string>
	<key>GCM_SENDER_ID</key>
	<string>729103857773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileapp.mobapps</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-a31fb</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-a31fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729103857773:ios:e625518bbedc0effbba764</string>
</dict>
</plist>